/* declaration of main colors */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --section-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --filter-button-color: #f5f4fa;
  --shadow-color: rgba(31, 21, 21, 0.15);
  --section-color: #2f303a;
  --first-section-color: #e5e5e5;
  --second-section-color: #f5f4fa;
  --ftr-cnt-color: rgba(255, 255, 255, 0.6);
}
/* border-boxing */
html {
  box-sizing: border-box;
}
/* inheritance for the whole body */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* features for the whole documents body */
body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* main container features, content block centralization */
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}
/* common style for all lists */
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.page {
  background-color: var(--first-section-color);
}
/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--main-text-color);
}
.logo-ft-accent {
  color: var(--section-text-color);
}
/* site links features*/
.site-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
/* contacts hover and focus features */
.contact-header {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-footer,
.footer-addr {
  color: var(--ftr-cnt-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

/* actions with contacts */
.contact-header:hover,
.contact-header:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}
/* Buttons */
.button {
  box-sizing: inherit;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  margin-top: 0px;
  margin-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--section-text-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--section-text-color);
  background: var(--button-hover-color);
  box-shadow: var(--shadow-color);
}
/* portfolio buttons */
.filter {
  margin-top: 0px;
  margin-bottom: 34px;
  width: 611px;
}
.filter-button {
  box-sizing: inherit;
  margin-top: 0px;
  margin-bottom: 16px;
  background: var(--filter-button-color);
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}
/* all filter-buttons one by one */
.filter-button first {
  display: inline-block;
  min-width: 73px;
  min-height: 38px;
}
.filter-button second {
  display: inline-block;
  min-width: 128px;
  min-height: 38px;
}
.filter-button third {
  display: inline-block;
  min-width: 145px;
  min-height: 38px;
}
.filter-button fourth {
  display: inline-block;
  min-width: 103px;
  min-height: 38px;
}
.filter-button fifth {
  display: inline-block;
  min-width: 130px;
  min-height: 38px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--section-text-color);
  background: var(--accent-color);
}
/* hero section */
.hero {
  margin-top: 0px;
  margin-bottom: 0px;
  /* width: 1600px;
  height: 600px; */
  text-align: center;
}
.hero-title {
  padding-top: 200px;
  /* padding-right: 452px;
  padding-left: 452px; */
  margin-top: 0px;
  margin-bottom: 30px;
  /* width: 696px;
  min-height: 120px; */
  color: var(--section-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* page sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--first-section-color);
}
.section features {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background: var(--first-section-color); */
}
.section-occupation {
  padding-top: 0px;
  padding-bottom: 94px;
  background: var(--first-section-color);
}
.section-comand {
  padding-top: 0px;
  padding-bottom: 0px;
  background: var(--second-section-color);
}
.section-hdr {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* .section-hdr cmd {
  padding-top: 94px;
  padding-bottom: 0px;
} */
/* professional qualities */
.section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-depict {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
/* studio team */

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-item {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* hero and footer bcg color */
.hero,
.footer {
  background: var(--section-color);
}
/* footer addres */
.footer-addr {
  color: var(--section-text-color);
}

/* portfolio page text features for image descriptions */
.portfolio {
  margin-top: 0px;
  margin-bottom: 94px;
  width: 1170px;
}
.project {
  display: inline-block;
  width: 370px;
  height: 404px;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background-color: var(--section-text-color);
}
.image {
  margin-top: 0px;
  margin-bottom: 20px;
  text-decoration: none;
}
.image-hdr {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.image-depict {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/*main text color #212121*/
/*secondary text color #757575*/
/* page background: #E5E5E5 */
/*top-line white color #FFFFFF*/
/* footer color background: #2F303A */
/*accent #2196F3*/
/*footer email and tel rgba(255, 255, 255, 0.6)*/
